################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Package/.vs
/Package/bin
/Package/obj

/Tests/.vs
/Tests/bin
/Tests/obj
/obj
